body {
    width: 'device-width';
    height: 'device-height';
    background: rgb(0, 53, 92);
    display: flex;
    flex-direction: column;
  
}

canvas {
    margin : 0; 
    align-self: center;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    border: 5px solid aliceblue;
}

div{
    margin : 0  px;
    color: lightgoldenrodyellow;
    align-self: center;
    font-size: 25px;
    font-family: 'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
    

}
#score{
    background :rgb(0, 53, 92);
    border : 2px solid rgb(0, 53, 92);
    border-radius: 5px;
    padding: 10px;
}


h1 {
    
    margin : 0px;
    color: lightgoldenrodyellow;
    align-self: center;
    font-size: 100px;
    font-family: 'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
}
.homepage{
    align-self: center;
    margin-top: 50px;
    
}
button.homepage{
    border-radius : 20px;
    background : aliceblue;
    color: rgb(0, 53, 92);
}