body {
    width: 'device-width';
    height: 'device-height';
    background: linear-gradient(to top right, rgb(90, 165, 219), rgb(0, 53, 92)) no-repeat;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
}

canvas {
    margin : 50px; 
    align-self: center;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    border: 5px solid aliceblue;
}

div{
    margin : 10px;
    color: lightgoldenrodyellow;
    align-self: center;
    font-size: 25px;
    font-family: 'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
    

}
#score{
    background :rgb(0, 53, 92);
    border : 2px solid rgb(0, 53, 92);
    border-radius: 5px;
    padding: 10px;
}


h1 {
    
    margin : 0px;
    color: lightgoldenrodyellow;
    align-self: center;
    font-size: 100px;
    font-family: 'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
}