body{
    width :  100%;
    height : 100% ;
    background: rgb(0, 53, 92);
    display: flex;
    flex-direction: column;
} 
h1{
    color : lightgoldenrodyellow;
    align-self: center;
    font-size: 10ex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
    color : aliceblue;  
}
.game-list{
    align-self: center;
    display : flex;
    flex-direction: row;
}
img{
    border-radius: 20px;
    border : 2px solid aliceblue;
    margin : 1.5em;
    width: 15em;
    height: 15em;
}