.mainMatrix{
    height:100px;
    width: 100px;
    background-color: rgb(9, 43, 77);
    border-radius: 25px;
    font-size: 50px;
    color:lightgoldenrodyellow;
    font-family:Arial, Helvetica, sans-serif;
    border : 1px solid aliceblue;

}
table{
    position:absolute;
    margin: 100px;
    left : 36%;
    top : 20%;

}
h1 {
    color: lightgoldenrodyellow;
    align-self: center;
    font-size: 100px;
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    margin: 0px;
}
body {
    width: 'device-width';
    height: 1500px    ;
    overflow: hidden    ;
    background: linear-gradient(to top right, rgb(90, 165, 219), rgb(0, 53, 92)) no-repeat;
    display: flex;
    flex-direction: column;
}
.homepage {
    align-self: center;
    margin-top: 50px;

}

button.homepage {
    border-radius: 20px;
    background: aliceblue;
    color: rgb(0, 53, 92);
}